*, *::after {
  box-sizing: border-box;
}
body {
  margin: 30;
  border: 10;
  background-color: white;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
nav ul {
  list-style: none;
}
nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: inline-block;
}

.title{
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  margin: 60;
}
.navbar {
  background-color: #37075C;
  padding: 2px;
  border: 10;

}

a:link{
  color: white;
  text-decoration:none;
  font-weight: bold;
}
a:visited {
  text-decoration:none;
  color: white;
}
a:hover {
  text-decoration:none;
  color: #5109C9;
}
a:active {
    text-decoration:none;
    color: white;
}
.grid-container {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: auto;
 grid-gap: 3em 1em;
}
